<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tradingview.widgets">

    <application
            android:name=".WidgetsApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Widgets">
        <activity android:name=".presentation.view.configuration.ConfigurationActivity">
        </activity>
        <activity android:name=".presentation.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".presentation.view.widget.WatchlistWidgetViewsService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
                android:name=".presentation.view.widget.WatchlistWidgetProvider"
                android:theme="@style/Theme.Widgets">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/watchlist_widget_info"/>
            <meta-data
                    android:name="test.provider"
                    android:resource="@xml/hidden_watchlist_widget_info"/>
        </receiver>
    </application>

</manifest>